.upperTable {

    margin-left: auto;
    margin-right: auto;
}

#sign-up-title {
text-align: center;
}

.left-label {
    text-align: right;
}

.right-field {
    padding-right: 70px;
}

#sign-up-btn {
    align-self: center;
    padding-left: 20px;
    background-color:green;
}

#sign-up-btn-td.left-label {
    text-align: center;
}